{{define "content"}}
<div class="posts">
    <div id="page-errors" class="form-errors"></div>
    <h2>{{.PageTitle}}</h2>

    {{if .Posts}}
        {{range .Posts}}
        {{template "post-card" .}}
        {{end}}
    {{else}}
        {{if .LikedPosts}}
            <p class="no-posts">You have not interacted with any posts. Like or Dislike some post to create interactions.</p>
        {{else}}
            <p class="no-posts">No posts found. {{if .User}}<a href="/posts/new">Create the first post!</a>{{else}}<a href="/register">Register</a> to create posts.{{end}}</p>
        {{end}}
    {{end}}

    {{if .Posts}}
        <div class="load-more-container">
            {{template "load-more-button" .}}
        </div>
    {{end}}
</div>
{{end}}

{{define "scripts"}}
<script src="/static/js/reactions.js"></script>
<script src="/static/js/load-more-posts.js"></script>
{{end}}